{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "importOrder": [
    "^/(.*)$",
    "^(views|containers|components)/(.*)$",
    "^(helpers|utils|router|store)/(.*)$",
    "^models/(.*)$",
    "^hooks/(.*)$",
    "^assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
